html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, article, aside, footer, header, nav {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, footer, header, nav, section {
	display: block;
}

html { 
	font-family: "Roboto Flex", sans-serif;
	font-size: 16px;
}

body {
	line-height: 1;
	font-size: 1rem;
}

ol, ul, a {
	list-style: none;
	text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }